$foregroundDark: #000000;
$foregroundBright: #ffffff;

$foregroundFaded: #6b6b6b;

$backgroundPrimary: #ffffff;
$foregroundPrimary: $foregroundDark;
$backgroundSecondary: #f5f5f5;
$foregroundSecondary: $foregroundDark;

$backgroundSuccess: hsl(107, 53%, 57%);
$foregroundSuccess: $foregroundBright;

$backgroundFailure: hsl(0, 69%, 62%);
$foregroundFailure: $foregroundBright;

$backgroundAccent: hsl(213, 69%, 62%);
$foregroundAccent: $foregroundBright;