$foregroundFaded: #6b6b6b;

$backgroundPrimary: #ffffff;
$foregroundPrimary: #000000;
$backgroundSecondary: #f5f5f5;

$backgroundSuccess: hsl(107, 61%, 70%);
$foregroundSuccess: #000000;

$backgroundFailure: hsl(0, 61%, 70%);
$foregroundFailure: #000000;

$backgroundAccent: hsl(189, 61%, 70%);
$foregroundAccent: #000000;