@import "./colors.scss";

/* Shadow */
$boxShadow: rgba(0, 0, 0, 0.24) 0px 0.1em 0.3em;

/* "Default color" gradient */
$stripesSize: 10px;
$stripes: repeating-linear-gradient(
  135deg,
  transparent calc(0.2 * $stripesSize),
  $foregroundSecondary calc(0.2 * $stripesSize),
  $foregroundSecondary calc(0.4 * $stripesSize),
  transparent calc(0.4 * $stripesSize),
  transparent calc(0.8 * $stripesSize),
  $foregroundSecondary calc(0.8 * $stripesSize)
);