/* Gaps */
$gapTiny: 0.2em;
$gapSmaller: 0.25em;
$gapSmall: 0.5em;
$gap: 1em;
$gapLarge: 2em;

/* Boxes */
$paddingTiny: .25em;
$paddingSmaller: .5em;
$paddingSmall: 1em;
$padding: 2em;
$paddingLarge: 5em;
$paddingLarger: 10em;

$borderWidth: .2em;
$borderWidthSmall: .1em;

$borderRadiusSmall: .25em;
$borderRadius: .5em;
$borderRadiusLarge: 1em;

/* Timing */
$animationSpeed: .25s;
$animationSpeedSlow: .5s;
$animationSpeedFast: .2s;

/* Specific */
$welcomeHeight: 30em;
$contactHeight: 10em;
$cardHeight: 15em;
$cardWidth: 15em;

/* Font */
$fontSize: 1rem;
$fontSizeSmall: 0.8rem;
$fontWeight: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 800;
$fontWeightEmphasis: 350;
$fontWeightTitle: 700;

$lineHeightParagraph: $fontSize * 1.4;

/* Navbar */
$navbarHeight: 3em;
$navbarHeightSmall: 2em;

/* Post Cards */
$thumbnailWidth: 5em;
$thumbnailWidthSmall: 3em;