/* Gaps */
$gapTiny: 0.2em;
$gapSmaller: 0.25em;
$gapSmall: 0.5em;
$gap: 1em;
$gapLarge: 2em;

/* Border Radius */
$borderRadiusSmall: .25em;
$borderRadius: .5em;
$borderRadiusLarge: 1em;

/* Navbar */
$navbarHeight: 3em;
$navbarHeightSmall: 2em;

/* Post Cards */
$thumbnailWidth: 5em;
$thumbnailWidthSmall: 3em;

/* Blur */
$blur: 0.15em;

/* Lines */
$borderWidth: .1em;
$underlineWidth: .15em;
$barFocusIndicatorWidth: .3em;
