html[data-theme="light"] {
  --colorForegroundDark: #000000;
  --colorForegroundBright: #ffffff;
  --colorForegroundLink: hsl(213, 69%, 42%);

  --colorBackgroundPrimary: #ffffff;
  --colorForegroundPrimary: var(--colorForegroundDark);

  --colorBackgroundSecondary: #f0f0f0;
  --colorForegroundSecondary: var(--colorForegroundDark);
  
  --colorBackgroundTertiary: #e0e0e0;
  --colorForegroundTertiary: var(--colorForegroundDark);

  --colorBackgroundSuccess: hsl(107, 53%, 47%);
  --colorForegroundSuccess: var(--colorForegroundBright);

  --colorBackgroundWarning: hsl(39, 100%, 50%);
  --colorForegroundWarning: var(--colorForegroundBright);

  --colorBackgroundDanger: hsl(0, 69%, 62%);
  --colorForegroundDanger: var(--colorForegroundBright);

  --colorBackgroundAccent: hsl(213, 69%, 62%);
  --colorForegroundAccent: var(--colorForegroundBright);
  
  --colorForegroundSunday: hsl(0, 71%, 58%);
}