PUBLIC_URL="http://localhost:8080" # mandatory: url of the frontend

#DB_URL="postgres://luna:luna@localhost:5432/luna"           # optional, database connection string as a URL
#DB_URL="host=localhost dbname=luna user=luna password=luna" # key/value format for the connection string is also supported


DB_HOST=localhost         # mandatory if DB_URL is not specified 
DB_PORT=5432              # optional, defaults to 5432
DB_USERNAME=luna          # mandatory if DB_URL is not specified
DB_PASSWORD=luna          # mandatory if DB_URL is not specified
DB_DATABASE=luna          # mandatory if DB_URL is not specified

DATA_PATH=/srv/luna/data  # optional, defaults to /data (docker convention)
API_PORT=3000             # optional, defaults to 3000

REQUEST_TIMEOUT_DEFAULT=15s        # optional, defaults to 15s: how many seconds to wait for a request to finish
REQUEST_TIMEOUT_AUTHENTICATION=15s # optional, defaults to 15s: how many seconds to wait for a request that requires password hashing to finish (login, register, change password, ...)

DEVELOPMENT=false # optional, defaults to false: whether the backend runs in development mode
