html[data-theme="dark"] {
  --colorForegroundDark: hsl(220, 10%, 80%);;
  --colorForegroundBright: #000000;
  --colorForegroundFaded: #1a1a1a;
  --colorForegroundDim: #949494;

  --colorForegroundLink: hsl(213, 69%, 42%);

  --colorBackgroundPrimary: hsl(220, 10%, 12%);

  --colorBackgroundSecondary: hsl(220, 10%, 22%);
  --colorBackgroundSecondaryActive: hsl(220, 10%, 32%);
  --colorForegroundSecondary: var(--colorForegroundDark);
  --colorForegroundSecondaryFaded: var(--colorForegroundFaded);

  --colorBackgroundSuccess: hsl(107, 53%, 37%);
  --colorBackgroundSuccessActive: hsl(107, 53%, 47%);
  --colorForegroundSuccess: var(--colorForegroundDark);
  --colorForegroundSuccessFaded: var(--colorForegroundFaded);

  --colorBackgroundWarning: hsl(39, 100%, 40%);
  --colorBackgroundWarningActive: hsl(39, 100%, 50%);
  --colorForegroundWarning: var(--colorForegroundDark);
  --colorForegroundWarningFaded: var(--colorForegroundFaded);

  --colorBackgroundDanger: hsl(0, 69%, 52%);
  --colorBackgroundDangerActive: hsl(0, 69%, 62%);
  --colorForegroundDanger: var(--colorForegroundDark);
  --colorForegroundDangerFaded: var(--colorForegroundFaded);

  --colorBackgroundAccent: hsl(213, 69%, 52%);
  --colorBackgroundAccentActive: hsl(213, 69%, 62%);
  --colorForegroundAccent: var(--colorForegroundDark);
  --colorForegroundAccentFaded: var(--colorForegroundFaded);
  
  --colorForegroundSunday: hsl(0, 71%, 58%);

  --colorRipple: var(--colorForegroundDark);
}