/* https://ethanschoonover.com/solarized/ */
html[data-theme="dark"] {
  --solarizedBase03: #002b36;
  --solarizedBase02: #073541;
  --solarizedBase01: #586e75;
  --solarizedBase00: #657b83;
  --solarizedBase0: #839496;
  --solarizedBase1: #93a1a1;
  --solarizedBase2: #ede7d4;
  --solarizedBase3: #fdf6e3;
  --solarizedYellow: #b58900;
  --solarizedOrange: #cb4b16;
  --solarizedRed: #dc322f;
  --solarizedMagenta: #d33682;
  --solarizedViolet: #6c71c4;
  --solarizedBlue: #268bd2;
  --solarizedCyan: #2aa198;
  --solarizedGreen: #859900;

  --colorForegroundDark: var(--solarizedBase0);
  --colorForegroundBright: var(--solarizedBase00);
  --colorForegroundFaded: var(--solarizedBase1);
  --colorForegroundDim: var(--solarizedBase01);

  --colorForegroundLink: var(--solarizedBlue);

  --colorBackgroundPrimary: var(--solarizedBase03);

  --colorBackgroundSecondary: var(--solarizedBase02);
  --colorBackground50Percent: hsl(192, 81%, 7%);
  --colorBackgroundSecondaryActive: hsl(192, 81%, 27%);

  --colorBackgroundSuccess: var(--solarizedGreen);
  --colorBackgroundSuccessActive: hsl(68, 100%, 40%);
  --colorForegroundSuccess: var(--solarizedBase3);
  --colorForegroundSuccessFaded: var(--solarizedBase2);

  --colorBackgroundWarning: var(--solarizedYellow);
  --colorBackgroundWarningActive: hsl(45, 100%, 45%);
  --colorForegroundWarning: var(--solarizedBase3);
  --colorForegroundWarningFaded: var(--solarizedBase2);

  --colorBackgroundDanger: var(--solarizedRed);
  --colorBackgroundDangerActive: hsl(1, 71%, 62%);
  --colorForegroundDanger: var(--solarizedBase3);
  --colorForegroundDangerFaded: var(--solarizedBase2);

  --colorBackgroundAccent: var(--solarizedCyan);
  --colorBackgroundAccentActive: hsl(175, 59%, 50%);
  --colorForegroundAccent: var(--solarizedBase3);
  --colorForegroundAccentFaded: var(--solarizedBase2);
  
  --colorForegroundSunday: var(--solarizedMagenta);
}